.posts-container {
    max-width: 1200px;
    margin: 0 auto;
    &__news {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
        align-items: center;
        justify-content: center;
    }
}